{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ 'card-content')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block form_row -%}
    <div class="row{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="input-field col s12 form">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block form_widget_simple %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
    {% endif %}
    {{- parent() -}}
    {% if tooltip is defined %}
        <span class="material-icons dp48 tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ tooltip }}">error</span>
    {% endif %}
{% endblock form_widget_simple %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block checkbox_row -%}
    <div class="row {% if not valid %} has-error{% endif %}">
        <div class="col s12 form">
            <label>
                {{- form_widget(form) -}}
                {{- form_label(form) -}}
            </label>
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock checkbox_row %}

{% block checkbox_widget -%}
    <input type="checkbox" class="filled-in"{{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{# Checkbox label is raw here #}
{%- block checkbox_label -%}
    {% if label is not same as(false) -%}
        {# Black text #}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' black-text')|trim}) %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <span{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}
        </span>
    {%- endif -%}
{%- endblock -%}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('waves-effect waves-light') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required %} disabled="disabled" {% if value is empty %} selected="selected"{% endif %}{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ 'materialize-textarea')|trim}) %}
    {{ parent() }}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="error">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}


{%- block collection_label -%}
    {% if _material_context is defined and _material_context == 'collection_widget' %}
        {{- form_label(form) -}}
    {% endif %}
{%- endblock collection_label -%}

{%- block collection_widget -%}
    <div {{ block('widget_container_attributes') }}>
        <ul class="collection with-header form-collection">
            <li class="collection-header">{{ form_label(form, null, attr|merge({_material_context: 'collection_widget', element: 'h4'})) }}</li>
            {% for child in form %}
                <li class="collection-item">
                    {{- form_widget(child) -}}
                </li>
            {% endfor %}
            {% if form.vars.allow_add %}
                <li class="collection-item">
                    <a href="#" class="add-another-collection-widget waves-effect waves-light btn-small" data-prototype="{{ form_widget(form.vars.prototype)|e }}">Add Item<i class="material-icons right">add</i></a>
                </li>
            {% endif %}
        </ul>
    </div>
{%- endblock collection_widget -%}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {% if (form.vars.allow_delete is defined and form.vars.allow_delete) or (form.parent.vars.allow_delete is defined and form.parent.vars.allow_delete)  %}
            <button class="remove-collection-widget waves-effect waves-light btn-small" type="button">Remove<i class="material-icons right">delete_forever</i></button>
        {% endif %}
        {{- parent() -}}
    </div>
{%- endblock form_widget_compound -%}

{%- block date_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' datepicker')|trim}) %}
    {{- parent() -}}
{%- endblock date_widget -%}

{%- block time_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' timepicker')|trim}) %}
    {{- parent() -}}
{%- endblock time_widget -%}

{%- block datetime_row -%}
    <div class="row{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="input-field col s6 form">
            {{- form_widget(form.date) -}}
            {{- form_label(form) -}}
            {{- form_errors(form.date) -}}
        </div>
        <div class="input-field col s6 form">
            {{- form_widget(form.time) -}}
            {{- form_errors(form.time) -}}
        </div>
    </div>
{%- endblock datetime_row -%}
