{% extends 'base.html.twig' %}
{% block title %}Profile - Baseball Club!{% endblock %}

{% block nav_path %}
    <a href="{{ path('default') }}" class="breadcrumb">&nbsp; Baseball Club!</a>
    <span class="breadcrumb">Change your Password</span>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Password change</span>
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" class="btn orange" value="Change"/>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
