{% extends 'base.html.twig' %}

{% block title %}Baseball Club!{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    Last <strong>Training</strong> entered: <strong>{{ lastTraining.date |date("d/m/Y") }}</strong> <br/>
                    Last <strong>Game</strong> entered: <strong>{{ lastGame.date |date("d/m/Y") }}</strong>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Team Statistics </span>
                        <table class="striped highlight responsive-table bordered">
                            <thead>
                            <tr>
                                <th>Player</th>
                                <th>IP%</th>
                                <th>TR%</th>
                                <th>I2T</th>
                                <th>GP#</th>
                                <th>GAv</th>
                                <th>IP#</th>
                                <th>IA#</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for key in calculatedPlayerResult %}
                                {% if key.i2t > 0.99 %}
                                    {% set color = 'green' %}
                                {% else %}
                                    {% set color = 'black' %}
                                {% endif %}
                            <tr>
                                <td style="color:{{ color }}">{{ key.player.firstName }} {{ key.player.lastName[0:2] }}. #{{ key.player.shirtNumber }}</td>
                                <td>{{ key.tr |round(0, 'floor') }}%</td>
                                <td><strong>{{ key.i2t |round(3, 'floor') }}</strong></td>
                                <td>{{ key.ips|round(0, 'floor') }}%</td>
                                <td>{{ key.gp }}</td>
                                <td>{{ key.gpr }}</td>
                                <td>{{ key.ipn }}</td>
                                <td>{{ key.ipa }}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
