<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

    {% endblock %}
    <script>
        window.toast = '{{ app.flashes|json_encode|raw }}';
    </script>
</head>
<body>
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
            <li class="divider"></li>
            <li><a data-target="help" class="modal-trigger">Help / Abbreviations</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
        </ul>
        <nav class="col s12 navbar-fixed">
            {% block nav_path %}
                <span class="breadcrumb ">&nbsp; Baseball Club!</span>
            {% endblock %}
            <ul class="right">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons right">face</i></a></li>
            </ul>
        </nav>

        <div id="help" class="modal">
            <div class="modal-content">
                <h4>Abbreviations:</h4>
                <table class="striped">
                    <thead>
                    <tr>
                        <th>code</th>
                        <th>explanations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>IP%</th>
                        <td>percentage of inning played vs games total innings present.</td>
                    </tr>
                    <tr>
                        <th>GP#</th>
                        <td>number of games played (player active).</td>
                    </tr>
                    <tr>
                        <th>GPr</th>
                        <td>number of games player was present, but might not have been playing.</td>
                    </tr>
                    <tr>
                        <th>IP#</th>
                        <td>number of inning played.</td>
                    </tr>
                    <tr>
                        <th>IA#</th>
                        <td>number of inning available over all games present.</td>
                    </tr>
                    <tr>
                        <th>TR%</th>
                        <td>average training presents over last 4 weeks.</td>
                    </tr>
                    <tr>
                        <th>I2T</th>
                        <td>number of inning vs the number of trainings present expressed in a ratio number.</td>
                    </tr>
                    </tbody>
                </table>
                <h4>Help:</h4>
                <p>
                    This apps keeps track of all presence during training and games and looks
                    at the number of innings played
                </p>
                <ul class="collection">
                    <li class="collection-item">You can add users under the add button</li>
                    <li class="collection-item">Get your team overview (incl shirt numbers)</li>
                    <li class="collection-item">keep track of training presence</li>
                </ul>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a href="{{ path('newGame') }}" class="btn-floating red"><i class="material-icons">games</i></a></li>
                <li><a href="{{ path('newTraining') }}" class="btn-floating blue darken-1"><i class="material-icons">directions_walk</i></a></li>
                <li><a href="{{ path('playerEdit', {'id' : 0}) }}" class="btn-floating green"><i class="material-icons">person_add</i></a></li>
                <li><a href="{{ path('player_overview') }}" class="btn-floating orange"><i class="material-icons">group</i></a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>
