<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

    {% endblock %}
    <script>
        window.toast = '{{ app.flashes|json_encode|raw }}';
    </script>
</head>
<body>
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
        </ul>
        <nav class="col s12 navbar-fixed">
            {% block nav_path %}
                <span class="breadcrumb ">&nbsp; Baseball Club!</span>
            {% endblock %}
            <ul class="right">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons right">face</i></a></li>
            </ul>
        </nav>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a href="{{ path('newGame') }}" class="btn-floating red"><i class="material-icons">games</i></a></li>
                <li><a href="{{ path('newTraining') }}" class="btn-floating blue darken-1"><i class="material-icons">directions_walk</i></a></li>
                <li><a href="{{ path('playerEdit', {'id' : 0}) }}" class="btn-floating green"><i class="material-icons">person_add</i></a></li>
                <li><a href="{{ path('player_overview') }}" class="btn-floating orange"><i class="material-icons">group</i></a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>
