{% extends 'base.html.twig' %}

{% block title %}new game - Baseball Club!{% endblock %}

{% block nav_path %}
    <a href="{{ path('default') }}" class="breadcrumb">&nbsp; Baseball Club!</a>
    <span class="breadcrumb">New Game</span>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <span class="card-title">Register Presence </span>
                        <form action="{{ path('register-game-presence') }}" method="post" class="card-content">
                            <div class="event-form">
                                {% for player in players %}
                                    <div class="row">
                                        {{ player.firstName }} {{ player.lastName }}
                                        <div class="input-field col s12 form">
                                            <div class="input-field col s12 form">
                                                <input type="number" min="0" max="{{ max_inning }}" name="no-of-innings[{{ player.id }}]" value="{{ max_inning }}" id=" noOfInnings[{{ player.id }}]" required="required">
                                                <label class="input required active" for="noOfInnings[{{ player.id }}]">No of Inn played?</label>
                                            </div>
                                            <div class="input-field col s12 form">
                                                <label class="input active" for="present[{{ player.id }}]">
                                                    <input type="checkbox" name="present[{{ player.id }}]" id="present[{{ player.id }}]">
                                                    <span>{{ player.firstName }} present during game? </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="gameId" value="{{ game_id }}">
                                <button class="buttons btn green" value="submit" name="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
